apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Namespace for all resources
namespace: mario-game

# Resources to be deployed
resources:
  - namespace.yaml
  - config.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml

# Container image configuration
images:
  - name: mario-clone
    newName: /mario-clone
    newTag: v4




