apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mario-clone-mobile
  namespace: argocd
  labels:
    cluster: mobile-mario
spec:
  project: default
  
  source:
    repoURL: https://github.com/mgodfre3/orl-game.git
    targetRevision: HEAD
    path: k8s/overlays/mobile-mario
  
  destination:
    server: https://kubernetes.default.svc
    namespace: mario-game
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true